h1 {background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); font-size: 60px; text-align: center; text-shadow:2px 2p}

table {font-family: 'Arial'; border-collapse: collapse; width: 100%;}
td, th {border: 1px solid #00000000; text-align: center; padding: 8px; }
