.content {
   margin: auto; width: 800px
}

#top-section {
  background-color:white; border: 2px solid red; width: 800px
}

#header-title {
  color:red;  text-align: center; width: 800px; margin: center; font-family: 'Nanum Pen Script', cursive;
}

#nav-bar {  
  color: red; text-align:center;font-family: 'Nanum Pen Script', cursive;
}

ul {
  list-style-type: none;margin:0; padding:0; display: inline; border-right: 2px solid #bbb; text-align: center; font-family: 'Nanum Pen Script', cursive;
}

.gallery  {
  text-align: center; background-color: red
}

.artist-image {
  background-color: red; width: 160px; text-align: center; display: horizontal
}

#artist-facts {
  color: white; text-align: center; font-family: 'Nanum Pen Script', cursive;
}

ol {
  color:red; text-align: left; font-size: 20px; 
}

#music-video {
  color: white; text-align: center; font-family: 'Nanum Pen Script', cursive;
}


#album-info {
  color: white; text-align: left; font-family: 'Nanum Pen Script', cursive;
}

#iframe {
  text-align: center   
}

#table {
  width: 1200px; background-color: red
}


a {
  text-align: center
}

a:hover {
  background-color: salmon; 
  text-align: center;
}


/* unvisited link */
a:link {
    color: red; 
}

/* visited link */
a:visited {
    color: gray;
}

a {
  color: pink; 
  margin: center
}



